body {
    margin: 20px;
  }
  
  .calculator {
    height: 300px;
    width: 200px;
  }
  
  .cal-buttons {
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .cal-buttons:hover {
    background-color: yellow;
  }